@import "@/scss/variables";
@import "@/scss/global";

main {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: 67px;
  min-height: 100vh;
  overflow: hidden;

  @media (max-width: 700px) {
    padding-top: 40px;
  }
}