// Global
$lexend: var(--lexend);
$poppins: var(--poppins);
$oxanium: var(--oxanium);
$color: var(--color);
$background: var(--background);

// Header
$header-border: var(--header-border);
$header-nav-element-color: var(--header-nav-element-color);
$header-nav-element-color-hover: var(--header-nav-element-color-hover);
